.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 6rem 0rem;
  padding: 0rem 4rem 0rem 0rem;
  .aboutImage {
    text-align: center;
    flex: 35%;
    padding: 2rem 0rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  .aboutDesc {
    flex: 55%;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    h3 {
      width: 60%;
      letter-spacing: 0.1rem;
      font-family: $familyFontsSecondary;
    }
  }
}

//photogrid
.photogrid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  article {
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .photogridMiddleImage {
    padding: 0 1rem;
  }
}

//media
@media screen and (max-width: 720px) {
  .about {
    flex-direction: column;
    padding: 0rem 4rem;
    .aboutImage {
      flex: 100%;
      padding: 2rem;
    }

    .aboutDesc {
      flex: 100%;
      padding: 2rem;
      text-align: center;
      h3 {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .photogrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    .photogridMiddleImage {
      display: none;
    }
    article {
      &:last-of-type {
        padding-left: 0.5rem;
      }

      &:first-of-type {
        padding-right: 0.5rem;
      }
    }
  }
}
