@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@200&display=swap");
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 6rem 0rem;
  padding: 0rem 4rem 0rem 0rem;
}

.about .aboutImage {
  text-align: center;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  padding: 2rem 0rem;
}

.about .aboutImage img {
  width: 100%;
  height: auto;
}

.about .aboutDesc {
  -webkit-box-flex: 55%;
      -ms-flex: 55%;
          flex: 55%;
  padding: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.about .aboutDesc h3 {
  width: 60%;
  letter-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
}

.photogrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.photogrid article {
  text-align: center;
}

.photogrid article img {
  width: 100%;
  height: auto;
}

.photogrid .photogridMiddleImage {
  padding: 0 1rem;
}

@media screen and (max-width: 720px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0rem 4rem;
  }
  .about .aboutImage {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 2rem;
  }
  .about .aboutDesc {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 2rem;
    text-align: center;
  }
  .about .aboutDesc h3 {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .photogrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
  .photogrid .photogridMiddleImage {
    display: none;
  }
  .photogrid article:last-of-type {
    padding-left: 0.5rem;
  }
  .photogrid article:first-of-type {
    padding-right: 0.5rem;
  }
}

.carousel {
  margin-top: -18rem;
}

.carousel .carousel-item .carousel-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25%;
  width: 32%;
  height: 7rem;
  padding: 1.5rem;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.673);
  color: #2b2b2b;
}

.carousel .carousel-item .carousel-caption h1 {
  margin: 0;
  letter-spacing: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
}

.carousel .carousel-indicators {
  margin-bottom: 18%;
}

.carousel .carousel-indicators li {
  height: 2rem;
  width: 2rem;
  background-color: pink;
  border-radius: 50%;
  padding: 0;
  margin-left: 1rem;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 10%;
}

.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-prev .carousel-control-next-icon,
.carousel .carousel-control-next .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
  background-color: pink;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background-size: 3rem;
}

@media screen and (max-width: 1250px) {
  .carousel {
    margin-top: -12rem;
  }
  .carousel-indicators {
    margin-bottom: 16%;
  }
}

@media screen and (max-width: 1050px) {
  .carousel {
    margin-top: -6rem;
  }
  .carousel .carousel-item .carousel-caption {
    width: 40%;
  }
  .carousel .carousel-item .carousel-caption h1 {
    font-size: 1.8rem;
  }
  .carousel .carousel-indicators {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 890px) {
  .carousel {
    margin-top: -4rem;
  }
  .carousel .carousel-item .carousel-caption {
    margin-bottom: 20%;
  }
  .carousel .carousel-indicators {
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 725px) {
  .carousel .carousel-item .carousel-caption {
    width: 50%;
    height: 5rem;
  }
  .carousel .carousel-item .carousel-caption h1 {
    font-size: 1.4rem;
  }
  .carousel .carousel-control-prev .carousel-control-prev-icon,
  .carousel .carousel-control-prev .carousel-control-next-icon,
  .carousel .carousel-control-next .carousel-control-prev-icon,
  .carousel .carousel-control-next .carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    background-size: 2rem;
  }
}

@media screen and (max-width: 545px) {
  .carousel {
    margin-top: -2rem;
  }
  .carousel .carousel-item .carousel-caption {
    margin-bottom: 20%;
    width: 60%;
  }
  .carousel .carousel-item .carousel-caption h1 {
    font-size: 1.2rem;
  }
  .carousel .carousel-indicators {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 420px) {
  .carousel .carousel-item .carousel-caption h1 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .carousel .carousel-indicators {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 345px) {
  .carousel {
    margin-top: 0rem;
  }
  .carousel .carousel-item .carousel-caption {
    width: 60%;
    background-color: transparent;
  }
  .carousel .carousel-item .carousel-caption h1 {
    font-size: 1rem;
  }
  .carousel .carousel-indicators {
    margin-bottom: 5%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: pink;
}

.topnav-container {
  background-color: #fff;
  z-index: 95;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 80px;
  padding-left: 4rem;
  padding-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.83333rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
          box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.143);
}

.topnav-logo {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: left;
  margin-left: 2.5rem;
}

.topnav-logo img {
  margin: 0.5rem;
  width: 12rem;
  height: auto;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-logo img:hover {
  opacity: 0.5;
}

.topnav-menu {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  text-align: center;
}

.topnav-menu a {
  color: #2b2b2b;
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  margin: 1.2rem;
  background: linear-gradient(60deg, #dbf3e2 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-menu a:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.topnav-socialmedia {
  -webkit-box-flex: 15%;
      -ms-flex: 15%;
          flex: 15%;
  text-align: right;
  margin-right: 2.5rem;
}

.topnav-socialmedia img {
  margin-left: 2rem;
  width: 2.5rem;
  height: auto;
  opacity: 0.3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.topnav-socialmedia img:hover {
  opacity: 1;
}

.nav-icon {
  display: none;
  z-index: 95;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.nav-icon__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: transparent;
  width: 4.5rem;
  cursor: pointer;
}

.nav-icon__span {
  z-index: 95;
  display: block;
  background: #2b2b2b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin-top: 8px;
  height: 2px;
  float: right;
}

.nav-icon__span-first {
  width: 80%;
}

.nav-icon__span-second {
  width: 60%;
}

.nav-icon__span-third {
  width: 90%;
}

.active span:nth-child(1) {
  -webkit-animation: ease 0.7s top forwards;
          animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  -webkit-animation: ease 0.7s top-2 forwards;
          animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  -webkit-animation: ease 0.7s scaled forwards;
          animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  -webkit-animation: ease 0.7s scaled-2 forwards;
          animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  -webkit-animation: ease 0.7s bottom forwards;
          animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  -webkit-animation: ease 0.7s bottom-2 forwards;
          animation: ease 0.7s bottom-2 forwards;
}

.modalNav {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-animation: nav-animation 0.5s ease-in-out;
          animation: nav-animation 0.5s ease-in-out;
}

.modalNav .modal-logo {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 3rem 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalNav .modal-logo img {
  margin: 0.5rem;
  width: 18rem;
  height: auto;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.modalNav .modal-logo img:hover {
  opacity: 0.5;
}

.modalNav .modal-menu {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalNav .modal-menu a {
  margin: 1.2rem 0;
  color: #2b2b2b;
  padding: 0 2.5rem 0 2.5rem;
  background: linear-gradient(60deg, #f0f7f2 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.modalNav .modal-menu a:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
}

.modalNav .modal-socialmedia {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalNav .modal-socialmedia a {
  text-align: center;
}

.modalNav .modal-socialmedia a img {
  margin: 3rem 1rem;
  width: 3.5rem;
  height: auto;
  opacity: 0.3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.modalNav .modal-socialmedia a img:hover {
  opacity: 1;
}

@-webkit-keyframes nav-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes nav-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 1px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 1px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 22px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    width: 90%;
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 19px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    width: 80%;
    bottom: 19px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    width: 90%;
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 19px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    width: 80%;
    bottom: 19px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.footer {
  width: 100vw;
  height: 100vh;
  background-color: #f0f7f2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer article {
  text-align: center;
  margin-top: 6rem;
}

.footer-top img {
  width: 250px;
  height: auto;
  opacity: 0.6;
}

.footer-middle {
  color: #919191;
}

.footer-bottom {
  text-align: center;
  cursor: pointer;
}

.footer-bottom h4 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: #91919178;
}

.footer-bottom-arrow {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #919191;
  border-bottom: none;
  border-right: none;
  -webkit-animation: arrow-jump 1.5s infinite;
          animation: arrow-jump 1.5s infinite;
}

@-webkit-keyframes arrow-jump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

@keyframes arrow-jump {
  0% {
    -webkit-transform: translateY(-2.5rem) rotate(45deg);
            transform: translateY(-2.5rem) rotate(45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0.5rem) rotate(45deg);
            transform: translateY(0.5rem) rotate(45deg);
    opacity: 0.9;
  }
}

.titles-container__menu-fast {
  display: none;
  color: #2b2b2b;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-size: 18px;
  min-width: 280px;
  padding: 10px;
  border: 2px solid #2b2b2b;
}

.titles-container {
  padding: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.titles-container .titles-container__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.09em;
  font-size: 18px;
  color: #5d5d5d;
}

.titles-container.titles-container__nav-sticky {
  padding: 30px 10px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  background-color: #fff;
  z-index: 90;
}

.titles-container__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titles-container__menu-nav .titles-container__menu-nav-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
  text-align: center;
  margin: 1rem;
  color: #2b2b2b;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle a {
  color: #2b2b2b;
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  background: linear-gradient(60deg, #dbf3e2 50%, #fff 50%);
  background-size: 250%;
  background-position: right;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle a:hover {
  background-position: left;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.css-0 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  background-color: rgba(0, 0, 0, 0.109);
}

.css-0 span {
  background-color: #f0f7f2;
}

.gallery {
  position: relative;
  padding: 5rem 4rem 5rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery .gallery-image {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 25%;
  padding: 0.2rem;
  cursor: pointer;
}

.gallery .gallery-image img {
  width: 100%;
  height: 100%;
}

.modal-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.503);
}

.modal-container .modal-image {
  width: 70vw;
  margin: 8rem 6rem 8rem 6rem;
}

.prev-icon,
.next-icon,
.x-icon {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  padding: 1rem;
}

.prev-icon,
.next-icon {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.prev-icon {
  left: 5%;
}

.next-icon {
  right: 5%;
}

.x-icon {
  top: 5%;
  right: 5%;
}

@media screen and (max-width: 1024px) {
  .gallery .gallery-image {
    -webkit-box-flex: 33.33%;
        -ms-flex: 33.33%;
            flex: 33.33%;
    max-width: 33.33%;
  }
}

@media screen and (max-width: 540px) {
  .gallery .gallery-image {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 1140px) {
  .topnav-container {
    font-size: 1.46667rem;
  }
  .topnav-logo {
    margin-left: 0rem;
  }
  .topnav-socialmedia {
    -webkit-box-flex: 12%;
        -ms-flex: 12%;
            flex: 12%;
    margin-right: 0rem;
  }
  .titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  .titles-container__menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titles-container__menu-nav .titles-container__menu-nav-card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
    min-width: 120px;
  }
  .topnav-menu a {
    margin: 0;
  }
}

@media screen and (max-width: 825px) {
  .topnav-menu {
    display: none;
  }
  .topnav-socialmedia {
    display: none;
  }
  .nav-icon {
    display: block;
    top: 0%;
    -webkit-transform: translateY(90%);
            transform: translateY(90%);
  }
  .titles-container.titles-container__nav-sticky {
    width: 100%;
    height: 100%;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-fast {
    display: block;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav {
    display: none;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav .titles-container__menu-nav-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav .titles-container__menu-nav-card .titles-container__subtitle {
    padding-top: 25px;
  }
  .titles-container.titles-container__nav-sticky .titles-container__menu-nav.active {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .titles-container__food-container .titles-container__food-name {
    font-size: 18px;
  }
  .titles-container__food-container .titles-container__food-description {
    font-size: 14px;
  }
  .titles-container__food-container .titles-container__food-price {
    font-size: 16px;
  }
  .titles-container__menu-fast {
    font-size: 16px;
  }
  .titles-container.titles-container__menu {
    padding: 30px 0px;
  }
}
/*# sourceMappingURL=main.css.map */